<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Produtos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>    
    <ion-item *ngFor="let produto of arrProdutos" detail-push text-wrap>      
      <a ion-item no-lines (click)="productDetail(produto._id)" >
        <ion-avatar item-start>
          <img src="{{produto.imagem}}">
        </ion-avatar>
        <h3>Produto teste{{produto.titulo}}</h3>
        <h6><small>{{produto.valor | number:'1.1-5'}}</small></h6>
      </a> 
      <!-- <pre>{{produto | json}}</pre> -->
    </ion-item>       
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>